{# empty Twig template #}
<div class="entries row">
        <div class="featured one-half wow fadeInLeft">
            {% if recette_de_la_journee is not null %}
                {{ include( 'MealSquareCommonBundle:Default:featured_recipe.html.twig', { 'recette': recette_de_la_journee, 'label': 'common.home.recette_de_la_journee'|trans({},'messages'), 'day_week':true }) }}
            {% else %}
                <div class="container">
                    <h2> {{ 'recettes.no_recette_of_day'|trans({},'messages') }} </h2>
                </div>
            {% endif %} 
        </div>
    {% if recette_de_la_semaine is not null %}
        <div class="featured one-half wow fadeInLeft" data-wow-delay=".2s">
            {{ include( 'MealSquareCommonBundle:Default:featured_recipe.html.twig', { 'recette': recette_de_la_semaine, 'label': 'common.home.recetteofweek'|trans({},'messages'), 'day_week':true }) }}
        </div>
    {% endif %}
</div>